<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <ul>
        <% items.forEach(element => {%>
        <li><%=element.name%> is sold for $<%=element.price %></li>
        <% }); %>
        </ul>
</body>
</html>